[default]
token={{ secret "tuxsuite.token.default" }}
group=linaro
projects=ben
lava_test_plans_project = lkft
[ampere]
token={{ secret "tuxsuite.token.ampere" }}
group=ampere
project=ci
lava_test_plans_project = lkft
